body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url("img/5_background/desert.png");
  background-size: cover;
  /* background-position: center; */
  font-family: "Fredoka", sans-serif;
}

canvas {
  background-color: black;
}

h1 {
  font-family: "Rye", serif;
  font-size: 40px;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
}

a {
  color: rgb(192, 192, 192);
  text-decoration: none;
}

.game_wrapper {
  position: relative; /* Bezugspunkt für .soundbar */
  display: inline-block; /* Canvas-Größe bestimmt Container */
}

.soundbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* zentriert horizontal */
  z-index: 5; /* liegt über dem Canvas */
  border: none;
}

.soundbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.soundbar button:focus {
  outline: none;
}

.soundbar img {
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 90px;
  transition: transform 0.1s ease;
}

.button:hover,
.soundbar img:hover {
  transform: scale(1.04);
}

.button:active,
.soundbar img:active {
  transform: scale(0.98);
}

.endscreen {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 10; /* über Canvas, über Soundbar */
  text-align: center;
}

.endscreen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  position: absolute;
  width: 180px;
  box-sizing: border-box;
  background-color: rgb(255,140,33);
  color: black;
  border: 2px solid white;
  border-radius: 8px;
  font-family: "Fredoka", sans-serif;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 24px;
  text-decoration: none;
  display: inline-block;
}

.startGame {
  
  top: 16px;
}

.button_impressum {
  bottom: 16px;
  left: 160px;
}

.button_credits {
  bottom: 16px;
  right: 160px;
}

.d_none {
  display: none;
}

/* ////// impressum & credits ////// */
.padding24px {
  padding: 24px;
}

.email {
  color: black;
}

